<div class="row">
	<div class="large-6 columns large-offset-3 end">
		<h1>Hello</h1>
		<label>Email Address</label>
		<input type="text" ng-model="loginInfo.username" />
		<label>Password</label>
		<input type="password" ng-model="loginInfo.password" />
	</div>
</div>
<div class="row">
	<div class="large-6 large-offset-3 columns end text-right">
		<button ng-click="login()" class="button tiny">Login</button>
	</div>
</div>
<div class="row" ng-if="loginInfo.errorMessage">
	<div class="large-6 large-offset-3 columns end">
		<div class="alert-box alert">
			{{loginInfo.errorMessage}}
  			<a href="#" ng-click="clearError()" class="close">&times;</a>
  		</div>
	</div>
</div>