<div ng-if="show" class="login-panel">
	<div class="vert-center">
		<div class="row">
			<div class="large-12 columns">
				<h1>Hello</h1>
				<label>Email Address</label>
				<input type="text" ng-model="loginInfo.username" />
				<label>Password</label>
				<input type="password" ng-model="loginInfo.password" />
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns text-right">
				<button ng-click="login()" class="button tiny" ng-disabled="lockdown">Login</button>
			</div>
		</div>
		<div class="row" ng-show="loginInfo.errorMessage">
			<div class="large-12 columns">
				<div class="alert-box alert">
					{{loginInfo.errorMessage}}
		  			<a href="#" ng-click="clearError()" class="close">&times;</a>
		  		</div>
			</div>
		</div>
	</div>
</div>